In [9]:
def hash(x):
    return 7*x%5

def save(x):
    global table
    table[hash(x)].append(x)

def remove(x):
    global table
    table[hash(x)].remove(x)
    
table = []
for i in range(5):
    table.append([])

In [10]:
arr = [7,5,3,4,1,2,8]
for i in arr:
    save(i)
table

[[5], [3, 8], [1], [4], [7, 2]]

In [11]:
save(9)
remove(4)
table

[[5], [3, 8], [1], [9], [7, 2]]

In [12]:
import sqlite3

db = sqlite3.connect('university2.db')
cursor = db.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS class(
id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")

In [13]:
cursor.execute("""
INSERT INTO class(id, name, teacher)
VALUES(102, 'Python', 'CZ')""")
db.commit()
cursor.execute("""SELECT * FROM CLASS""")
cursor.fetchall()

[(102, 'Python', 'CZ')]

In [14]:
db.close()

In [22]:
db = sqlite3.connect('university2.db')
cursor = db.cursor()
cursor.execute("""CREATE TABLE enrolled
(student integer PRIMARY KEY, class integer, grade integer);""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(1, 100, 80)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(2, 102, 90)""")
cursor.execute("""INSERT INTO enrolled(student, class, grade) 
VALUES(3, 101, 70)""")
db.commit()
cursor.execute("SELECT * FROM enrolled")
print(cursor.fetchall())
db.close()

OperationalError: table enrolled has no column named student